@font-face {
    font-family: 'Play';
    src: url('play.eot');
    src: url('play.eot?#iefix') format('embedded-opentype'),
         url('play.woff') format('woff'),
         url('play.ttf') format('truetype'),
         url('play.svg#playregular') format('svg');
    font-weight: normal;
    font-style: normal;

}