@font-face {
    font-family: 'Droid Sans';
    src: url('Droid San.eot');
    src: url('Droid Sans.eot?#iefix') format('embedded-opentype'),
         url('Droid Sans.woff') format('woff'),
         url('Droid Sans.ttf') format('truetype'),
         url('Droid Sans.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

