@font-face {
    font-family: 'Merriweather Sans';
    src: url('merriweather_sans.eot');
    src: url('merriweather_sans.eot?#iefix') format('embedded-opentype'),
         url('merriweather_sans.woff') format('woff'),
         url('merriweather_sans.ttf') format('truetype'),
         url('merriweather_sans.svg#merriweather_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}