#content-wrapper							{width:80%;
											 margin:auto;
											 overflow:hidden;
											 background-color:#FFF}
											 
a											{
											 }
											 
a:visited									{
											 }

